.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 460px;
}

.content {
   
    max-width: 1200px;
    margin: 60px auto;
    padding: 0 10%;
    font-family: Muli,sans-serif;
        font-size: 18px;
        line-height: 32px;
        font-weight: 300;
        color: #fff;
        margin: 40px 0;
}
.iS {
    padding-bottom: 56.25%; 
  position: relative; 
  display: block; 
  width: 100%;
 
  
  .frame {
    height: 100%;
    width: 100%;
    position: absolute; 
top: 0; 
left: 0;
     
}

}
