.feed {
   
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    text-align:center;
    
}
.card {
  
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    transition: all .3s ease;
    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }
}
.title {
    font-family: Baskerville,serif;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    margin: 0 0 10px 0;
  }

  @media screen and (max-width: 440px) {
    .feed {
        display: grid;
        grid-gap: 0px;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        text-align:center;
        grid-auto-columns: auto;
    }
}

