
.section {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 100px auto 100px;
}
.form {
    background-color: rgba(255,255,255,0.1);
    border-radius: 5px;
    grid-column-start: 2;
    grid-column-end: span 4;
    grid-row-start: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 60px;
    margin: 60px 0;
    h1 {
        text-align: center;
    }
}
.field {
    margin-bottom: 50px;
    label {
        font-family: Muli,sans-serif;
        font-size: 14px;
        line-height: 24px;
        font-weight: 700;
        color: #fff;
        transition: all 0.3s ease 0s;
    };
    input {
        height: 40px;
    width: 100%;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    transition: all 0.3s ease 0s;
    font-family: Muli,sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #fff;
    }
    &_hidden {
        display: none
    }
    &:focus{
        border-bottom: 1px solid #F06666;   
    }
    textarea {
        width: 100%;
        outline: none;
        border: none;
        background-color: transparent;
        border-bottom: 1px solid rgba(255,255,255,0.5);
        transition: all 0.3s ease 0s;
        font-family: Muli,sans-serif;
        font-size: 14px;
        line-height: 24px;
        font-weight: 300;
        color: #fff;
        &:focus{
            border-bottom: 1px solid #F06666;   
        }
    }
}
.btn {
    width: 124px;
    height: 38px;
    border-radius: 5px;
    background-color: #f06666;
    color: #fff;
    border: none;
    font-family: Muli,sans-serif;
    font-size: 14px;
    font-weight: 300;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    &:hover {
        filter: brightness(90%)
      }
  }
.submit {
    text-align: center;
    padding: 0;
    margin: 30px 0;
}
@media screen and (max-width: 800px) {
    .form {
        grid-column-start: 1;
        grid-column-end: span 6;
        grid-row-start: 2;
    }
}
